<form action="" method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="login" class="col-md-2 control-label">Nom d'utilisateur :
			<span class="required">*</span>&nbsp;</label>
		<div class="col-md-10">
			<input type="text" id="login" class="form-control" maxlength="50" name="login" required />
		</div>
	</div>
		
	<div class="form-group">
		<label for="password" class="col-md-2 control-label">Mot de passe :
			<span class="required">*</span>&nbsp;</label>
		<div class="col-md-10">
			<input type="password" id="password" class="form-control" maxlength="50" name="password" required />
		</div>
	</div>
		
	<div class="form-group" id="form_mail">
		<label for="mail" class="col-md-2 control-label">E-mail :
			<span class="required">*</span>&nbsp;</label>
		<div class="col-md-10">
			<input type="text" id="mail" class="form-control" maxlength="100" name="mail" required />
		</div>
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-default">S'inscrire</button>
		</div>
	</div>
</form>
