{% extends '@Admin/index.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Ajout d'utilisateur</h2>
		</div>
		
		<div class="panel-body">
			<div>Tout les champs sont obligatoires</div>
			
			<form action="{{ path('admin', 'user', 'add') }}" method="POST"
				class="form-horizontal">
				<div class="form-group">
					<label for="login" class="col-md-2 control-label">Nom d'utilisateur :&nbsp;</label>
					<div class="col-md-2">
						<input type="text" name="login" id="login" maxlength="50" class="form-control"
							value="" required />
					</div>
				</div>
			
				<div class="form-group">
					<label for="mail" class="col-md-2 control-label">E-mail :&nbsp;</label>
					<div class="col-md-2">
						<input type="text" name="mail" id="mail" maxlength="100"  class="form-control"
							value="" required />
					</div>
				</div>
			
				<div class="form-group">
					<label for="password" class="col-md-2 control-label">Mot de passe :&nbsp;</label>
					<div class="col-md-2">
						<input type="password" name="password" id="password" maxlength="50"  class="form-control"
							value="" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="access" class="col-md-2 control-label">Droits d'accès :&nbsp;</label>
					<div class="col-md-2">
						<select name="access" id="access" class="form-control">
							<option value="2" selected>Membre</option>
							<option value="4">Bannis</option>
							<option value="8">Modérateur</option>
							<option value="16">Administrateur</option>
						</select>
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-md-offset-2 col-md-2">
					<button type="submit" class="btn btn-default" id="submit">Enregistrer</button>
				</div>
			</div>
		</form>
	</div>
</article>
{% endblock %}
