{% extends '@Admin/index.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Modification d'utilisateur</h2>
		</div>
		
		<div class="panel-body">
			<div>Le mot de passe n'est a indiquer que si vous souhaitez le modifier.</div>
			
			<form action="{{ path('admin', 'user', 'edit-'~user.id_users) }}" method="POST" class="form-horizontal">
			<div class="form-group">
				<label for="id" class="col-md-2 control-label">ID de l'utilisateur :&nbsp;</label>
				<div class="col-md-2">
					<input type="text" name="id" id="id" maxlength="50" value="{{ user.id_users }}" disabled />
			</div>
		</div>
		
		<div class="form-group">
			<label for="login" class="col-md-2 control-label">Nom d'utilisateur :&nbsp;</label>
			<div class="col-md-2">
				<input type="text" name="login" id="login" maxlength="50" value="{{ user.login }}" required />
			</div>
		</div>
		
		<div class="form-group">
			<label for="mail" class="col-md-2 control-label">E-mail :&nbsp;</label>
			<div class="col-md-2">
				<input type="text" name="mail" id="mail" maxlength="100" value="{{ user.mail }}" required />
			</div>
		</div>
		
		<div class="form-group">
			<label for="password" class="col-md-2 control-label">Mot de passe :&nbsp;</label>
			<div class="col-md-2">
				<input type="password" name="password" id="password" maxlength="50" value="" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="conf-password" class="col-md-2 control-label">Confirmation du mot de passe :&nbsp;</label>
			<div class="col-md-2">
				<input type="password" name="conf-password" id="conf-password" maxlength="50" value="" />
			</div>
		</div>
		
		<div class="form-group">
			<label for="access" class="col-md-2 control-label">Droits d'accès :&nbsp;</label>
			<div class="col-md-2">
				<select name="access" id="access">
					<option value="2" {% if user.access == 2 %}selected{% endif %}>Membre</option>
					<option value="4" {% if user.access == 4 %}selected{% endif %}>Bannis</option>
					<option value="8" {% if user.access == 8 %}selected{% endif %}>Modérateur</option>
					<option value="16" {% if user.access == 16 %}selected{% endif %}>Administrateur</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-md-offset-2 col-md-2">
			<button type="submit" class="btn btn-default" id="submit">Enregistrer</button>
		</div>
		</div>
	</form>
		</div>
	</div>
</article>
{% endblock %}
