{% extends '@Admin/index.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
{{ parent() }}

<article class="row table-responsive">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des utilisateurs</h2>
		</div>
		
		<div class="panel-body">
			<table class="table table-condensed table-hover table-bordered col-md-4">
				<thead>
					<tr>
					<th>ID</th>
					<th>Nom d'utilisateur</th>
					<th>Accès</th>
					<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for user in users %}
					<tr>
						<td class="text-center">{{ user.id_users }}</td>
						<td class="ident text-fl-capitalize">{{ user.login }}</td>
						<td class="text-center">{{ user.access }}</td>
						<td class="text-center">
							<a href="{{ path('admin', 'user', 'edit-'~user.id_users) }}" title="Éditer">
								<span class="glyphicon glyphicon-pencil"></span></a>
							<a href="{{ path('admin', 'user', 'del-'~user.id_users) }}" title="Supprimer">
								<span class="glyphicon glyphicon-remove"></span></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</article>
{% endblock %}
