{% extends '@Core/base.twig' %}

{% block title %}Foire aux Questions{% endblock %}

{% block body %}
	{% if list is not empty %}
	{% for item in list %}
	<article class="row">
		<div class="col-md-6 panel panel-primary body">
			<div class="panel-heading">{{ item.question }}</div>
			<div class="panel-body">{{ item.response }}</div>
		</div>
	</article>
	{% endfor %}
	{% else %}
	<article class="row">
		<div class=" col-md-12 panel panel-default">
			<div class="panel-body">Aucune question de trouvées dans la base de donnée</div>
		</div>
	</article>
	{% endif %}
{% endblock %}
