<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                Euro Truck Simulator 2 est une marque de SCS Software s.r.o.  Copyright &copy; 2011-2018 SCS Software s.r.o<br>
                Les éléments sont la propriété de SCS Software, développeur du jeu dont ils sont tirés.
                </p>

                <p>
                ETS2Routes est la propriété de Christophe Daloz - De Los Rios. Copyright &copy 2018 Christophe Daloz - De Los Rios<br>
                Site sous licence MIT
                </p>

                <p>
                Le framework Symfony est créer par Fabien Potencier. Copyright &copy; 2004-2018 Fabien Potencier<br>
                Le framework est sous licence MIT, le site de symfony est la propriété de Symfony SAS<br>
                Le nom Symfony est une marque de Symfony SAS. Copyright &copy; 2018 SensioLabs
                </p>
            </div>
        </div>
    </div>
</div>
