{% extends '@Core/base.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
{% if message is not empty %}
<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg }}</div>
{% endif %}

{{ form|raw }}
{% endblock %}
