{% extends '@Admin/index.twig' %}

{% block title %}Ajouter une ville{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Ajouter une ville</h2>
		</div>
		
		<div class="panel-body">
			<form action="{{ path('admin', 'cities', 'add') }}" method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-md-3 control-label">Nom :&nbsp;</label>
					<div class="col-md-4">
						<input type="text" name="name" id="name" maxlength="100"
							value="{{ name }}" class="form-control" required />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-3 col-md-4">
						<button type="submit" class="btn btn-default">Ajouter</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
