{% extends '@Admin/index.twig' %}

{% block title %}Configuration du site{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Configuration du site</h2>
		</div>
		
		<div class="panel-body">
			<form action="{{ path('admin', 'site') }}" method="post" class="form-horizontal">
				<div class="form-group">
					<label for="database" class="col-md-3 control-label">Type de base de donnée :</label>
					<div class="col-md-offset-2 col-md-4">
						<select name="database" id="database" class="form-control" required>
							<option value="mysql">MySQL</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="dbname" class="col-md-3 control-label">Nom de la base de donnée :</label>
					<div class="col-md-offset-2 col-md-4">
						<input type="text" name="dbname" id="dbname" maxlength="255"
							class="form-control" value="{{ database.dbname }}" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="host" class="col-md-3 control-label">Hôte de la base de donnée :</label>
					<div class="col-md-offset-2 col-md-4">
						<input type="text" name="host" id="host" maxlength="255"
							class="form-control" value="{{ database.host }}" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="user" class="col-md-3 control-label">Utilisateur SQL :</label>
					<div class="col-md-offset-2 col-md-4">
						<input type="text" name="user" id="user" maxlength="255"
							class="form-control" value="{{ database.user }}" required/>
					</div>
				</div>
				
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Mot de passe SQL :</label>
					<div class="col-md-offset-2 col-md-4">
						<input type="password" name="password" id="password" maxlength="255"
							class="form-control" value="{{ database.password }}" required/>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-5 col-md-4">
						<button type="submit" name="submit" class="btn btn-default">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
</article>
{% endblock %}
