{% extends '@Core/base.twig' %}

{% block title %}Accueil administration{% endblock %}

{% block body %}
{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
{% endif %}

<div class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Administration</h2>
		</div>
		
		<div class="panel-body">
			<div class="btn-group">
				<a href="{{ path('admin', 'site') }}" class="btn btn-default">
					<span class="glyphicon glyphicon-cog"></span>
					<p>Configuration du site</p>
				</a>
			</div>
			
			<div class="btn-group">
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" id="dropDownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-user"></span>
							<p>Utilisateurs <span class="caret"></span></p>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropDownMenu1">
						<li>
							<a href="{{ path('admin', 'user', 'list') }}">Liste</a>
						</li>
						<li>
							<a href="{{ path('admin', 'user', 'add') }}">Ajouter</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="btn-group">
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" id="dropDownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-question-sign"></span>
						<p>Foire aux Questions <span class="caret"></span></p>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropDownMenu2">
						<li>
							<a href="{{ path('admin', 'faq') }}">Liste</a>
						</li>
						<li>
							<a href="{{ path('admin', 'faq', 'add') }}">Ajouter</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="btn-group">
				<a href="{{ path('admin', 'cities') }}" class="btn btn-default">
					<span class="glyphicon glyphicon-road"></span>
					<p>Villes</p>
				</a>
			</div>
			<div class="btn-group">
				<a href="{{ path('admin', 'trailers') }}" class="btn btn-default">
					<span class="glyphicon glyphicon-road"></span>
					<p>Remorques</p>
				</a>
			</div>
			<div class="btn-group">
				<a href="{{ path('admin', 'truckmark') }}" class="btn btn-default">
					<span class="glyphicon glyphicon-road"></span>
					<p>Marques</p>
				</a>
			</div>
			<div class="btn-group">
				<a href="{{ path('admin', 'truck') }}" class="btn btn-default">
					<span class="glyphicon glyphicon-road"></span>
					<p>Camions</p>
				</a>
			</div>
			
			<div class="btn-group">
				<div class="dropdown">
					<button type="button" class="btn btn-default dropdown-toggle" id="dropDownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="glyphicon glyphicon-tasks"></span>
							<p>News <span class="caret"></span></p>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropDownMenu1">
						<li>
							<a href="{{ path('admin', 'news', 'list') }}">Liste</a>
						</li>
						<li>
							<a href="{{ path('admin', 'news', 'cat') }}">Catégories</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
