{% extends '@Admin/index.twig' %}

{% block title %}Liste des marques{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des marques de camion</h2>
		</div>
		
		<div class="panel-body">
			<a href="{{ path('admin', 'truckmark', 'add') }}" class="btn btn-primary">Ajouter une marque</a>
			
			{% if marks is not empty %}
			<table class="table table-bordered table-condensed table-hover col-md-4">
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Action</th>
				</tr>
				
				{% for mark in marks %}
				<tr>
					<td>{{ mark.name }}</td>
					<td class="text-center">
						<a href="{{ path('admin', 'truckmark', 'del-'~mark.id_mark) }}">
							<span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p class="text-center">Aucune marque trouvée</p>
			{% endif %}
</article>
{% endblock %}
