{% extends '@Admin/index.twig' %}

{% block title %}Liste des remorques{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des remorques</h2>
		</div>
		
		<div class="panel-body">
			<a href="{{ path('admin', 'trailers', 'add') }}" class="btn btn-primary">Ajouter une remorque</a>
			
			{% if trailers is not empty %}
			<table class="table table-bordered table-condensed table-hover col-md-4">
				<tr>
					<th class="text-center">Nom</th>
					{# <th class="text-center">Poids</th> #}
					<th class="text-center">Action</th>
				</tr>
				
				{% for trailer in trailers %}
				<tr>
					<td>{{ trailer.name }}</td>
					{# <td class="text-center">{{ trailer.weight }} tonnes</td> #}
					<td class="text-center">
						<a href="{{ path('admin', 'trailers', 'del-'~trailer.id) }}">
							<span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p class="text-center">Aucune remorque trouvée</p>
			{% endif %}
</article>
{% endblock %}
