{% extends '@Admin/index.twig' %}

{% block title %}Liste des camions{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des camion</h2>
		</div>
		
		<div class="panel-body">
			<a href="{{ path('admin', 'truck', 'add') }}" class="btn btn-primary">Ajouter un camion</a>
			
			{% if trucks is not empty %}
			<table class="table table-bordered table-condensed table-hover col-md-4">
				<tr>
					<th class="text-center">Nom</th>
					<th class="text-center">Marque</th>
					<th class="text-center">Action</th>
				</tr>
				
				{% for truck in trucks %}
				<tr>
					<td>{{ truck.name }}</td>
					<td>{{ truck.mark }}</td>
					<td class="text-center">
						<a href="{{ path('admin', 'truck', 'del-'~truck.id_truck) }}">
							<span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p class="text-center">Aucun camions trouvés</p>
			{% endif %}
</article>
{% endblock %}
