{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% set breadcrumb = [
    {"name": "Utilisateur", "link": ""},
    {"name": "Inscription", "link": path('user_register')}
] %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Inscription</div>
                <div class="panel-body">{{ form(form) }}</div>
            </div>
        </div>
    </div>
{% endblock %}
