@CHARSET "UTF-8";

html {
	font-size: 62.5%;
}

img[alt="logo"] {
	width: 150px;
}

header {
	margin-top: 2%;
	margin-bottom: 2%;
}

footer {
	margin-top: 2%;
}

footer .panel {
	padding: 1%;
	text-align: center;
}

article {
	margin-top: 2%;
}

span.required {
	color: #FF0000;
	font-size: large;
}

p.label>a {
	color: white;
}

td.ident {
	padding-left: 1% !important;
}

td.date, td.author, td.category {
	width: 15%;
}

td.action {
	width: 5%;
}

td.cat_name {
	width: 90%;
}

th, td {
	vertical-align: middle !important;
}

@media ( min-width : 1600px) {
	.container {
		width: 1450px;
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	padding: 0;
}

.navbar-collapse, .collapse, .container-fluid {
	padding: 0;
}

.nav {
	margin-left: 5%;
}

.panel {
	background-color: #f8f8f8;
}

.body {
	margin-left: 25%;
}

.panel-heading>.row {
	margin-left: 1%;
}

.alert {
	margin-left: 15%;
	margin-right: 25%;
}

.table {
	background-color: #fff;
}

.table>thead>tr>th {
	background-color: #286090;
	color: #fff;
	text-align: center;
}

.block {
	display: block;
}

.text-fl-capitalize::first-letter {
	text-transform: capitalize;
}

.glyphicon-pencil {
	color: #ff8000;
}

.glyphicon-remove {
	color: #ff0000;
}

.glyphicon-eye-open {
	color: #000;
}

.glyphicon-user {
	color: #000;
}