<form action="" method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="mail" class="col-md-2 control-label"></label>
		<div class="col-md-10"><input type="text" name="mail" id="mail" class="form-control" required /></div>
	</div>
	
	<div class="form-group">
		<label for="object" class="col-md-2 control-label"></label>
		<div class="col-md-10"><input type="text" name="object" id="object" class="form-control" required /></div>
	</div>
	
	<div class="form-group">
		<label for="message" class="col-md-2 control-label"></label>
		<div class="col-md-10"><textarea name="message" id="message" cols="30" rows="5" required></textarea></div>
	</div>
	
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-default" id="submit"></button>
		</div>
	</div>
</form>
