{% extends '@Admin/index.twig' %}

{% block title %}Ajouter une question{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Ajouter une question</h2>
		</div>
		
		<div class="panel-body">
			<form action="{{ path('admin', 'faq', 'add') }}" method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="question" class="col-md-2 control-label">Question :&nbsp;</label>
					<div class="col-md-2">
						<textarea name="question" id="question" cols="30" rows="10" col="20"
							maxlength="255" class="form-control" required>{{ faq.question }}</textarea>
					</div>
				</div>
				
				<div class="form-group">
					<label for="response" class="col-md-2 control-label">Réponse :&nbsp;</label>
					<div class="col-md-2">
						<textarea name="response" id="response" cols="30" rows="10" col="20"
							class="form-control" required>{{ faq.response }}</textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-2 col-md-2">
					<button type="submit" class="btn btn-default" id="submit">Enregistrer</button>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
