{% extends '@Admin/index.twig' %}

{% block title %}Accueil FAQ{% endblock %}

{% block body %}
{{ parent() }}

<article class="row table-responsive">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des questions</h2>
		</div>
		
		<div class="panel-body">
			{% if questions is not empty %}
			<table class="table table-condensed table-hover table-bordered col-md-4">
				<thead>
					<tr>
					<th>ID</th>
					<th>Question</th>
					<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for question in questions %}
					<tr>
						<td class="text-center">{{ question.id_faq }}</td>
						<td class="ident text-fl-capitalize">{{ question.question }}</td>
						<td class="text-center">
							<a href="{{ path('admin', 'faq', 'edit-'~question.id_faq) }}" title="Éditer">
								<span class="glyphicon glyphicon-pencil"></span></a>
							<a href="{{ path('admin', 'faq', 'del-'~question.id_faq) }}" title="Supprimer">
								<span class="glyphicon glyphicon-remove"></span></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="col-md-12 text-center">Aucune question trouvées dans la base de données</div>
			{% endif %}
		</div>
	</div>
</article>
{% endblock %}
