{{ user.username }},

<p>
    Vous avez demandé à réinitialiser votre mot de passe.<br>
    Voici votre nouveau mot de passe : <b>{{ password }}</b>
    Veuillez penser à le changer au plus tôt.
</p>

<p>
    Nous vous remercions de l'intérêt que vous portez à ETS2Routes,<br>
    et nous espérons vous revoir bientôt.
</p>

<p>
    Cordialement,
    L'administration de ets2routes.com
</p>
