{{ user.username }},

<p>
    Vous avez demandé à réinitialiser votre mot de passe.<br>
    Voici votre code de validation (<b>{{ code }}</b>) à entrer à l'adresse suivante :<br>
    <a href="{{ absolute_url('user_reset_password') }}">{{ absolute_url('user_reset') }}</a>
</p>

<p>
    Ce code de validation vous permettra de recevoir par e-mail,<br>
    un nouveau mot de passe généré automatiquement par le système.<br>
    Une fois connecté à votre compte, vous pourrez le modifier.<br>
    ATTENTION ! Il est important de le modifier dès que possible<br>
    et de supprimer l'e-mail ensuite afin de préserver les accès à votre compte.
</p>

<p>
    Nous vous remercions de l'intérêt que vous portez à ETS2Routes,<br>
    et nous espérons vous revoir bientôt.
</p>

<p>
    Cordialement,
    L'administration de ets2routes.com
</p>
