<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
			crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ path(css_path) }}/global.css">
		{% for item in csslist %}
		<link rel="stylesheet" type="text/css" href="{{ item }}">
		{% endfor %}
		<title>{% block title %}{% endblock %} - ETS2Routes</title>
	</head>
	
	<body>
		<div class="container">
			{% include '@Core/header.twig' %}
			
			{% for template in before_body %}
			{{ template|raw }}
			{% endfor %}
			
			{% block body %}{% endblock %}
			
			{% for template in after_body %}
			{{ template|raw }}
			{% endfor %}
			
			{% include '@Core/footer.twig' %}
		</div>
		
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
			crossorigin="anonymous"></script>
	</body>
</html>
