{% extends '@Core/base.twig' %}

{% block title %}Liste des employés{% endblock %}

{% block body %}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des employés</h2>
		</div>
		
		<div class="panel-body">
			{% if employees is not empty %}
			<table class="table table table-bordered table-condensed table-hover col-md-4">
				<thead>
					<tr>
					<th>Employé</th>
					<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for employee in employees %}
					<tr>
						<td class="ident text-fl-capitalize">{{ employee.login }}</td>
						<td class="text-center">
							{% if ent_access == 2 and id_user != employee.id_users %}
							<a href="{{ path('enterprises', 'disposal', employee.id_users, id_ent) }}"
								class="btn btn-primary">Céder l'entreprise</a>
							{% endif %}
							<a href="{{ path('enterprises', 'listpath', employee.id_users) }}"
								class="btn btn-primary">Voir ses trajets</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="text-center">Aucun employés trouvés</p>
			{% endif %}
		</div>
	</div>
</article>

{% endblock %}
