{% extends '@Core/base.twig' %}

{% block title %}Liste des candidatures{% endblock %}

{% block body %}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des candidatures</h2>
		</div>
		
		<div class="panel-body">
			{% if candidacies is not empty %}
			<table class="table table table-bordered table-condensed table-hover col-md-4">
				<thead>
					<tr>
					<th>Employé</th>
					<th>Candidature</th>
					<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for candidacy in candidacies %}
					<tr>
						<td class="ident text-fl-capitalize">{{ candidacy.employee}}</td>
						<td class="ident">{{ candidacy.text }}</td>
						<td class="text-center">
							<a href="{{ path('enterprises', 'candidacy-accept', candidacy.id_user, candidacy.id_ent) }}"
								title="Accepter"><span class="glyphicon glyphicon-ok">
							</span></a>
							<a href="{{ path('enterprises', 'candidacy-cancel', candidacy.id_user, candidacy.id_ent) }}"
								title="Refuser"><span class="glyphicon glyphicon-remove">
							</span></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="text-center">Aucunes candidatures trouvées</p>
			{% endif %}
		</div>
	</div>
</article>

{% endblock %}
