{% extends '@Core/base.twig' %}

{% block title %}Créer une entreprise{% endblock %}

{% block body %}
<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Ajouter une entreprise</h2>
		</div>
		
		<div class="panel-body">
			<form action="{{ path('enterprises', 'add') }}" method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="tag" class="col-md-3 control-label">Tag :&nbsp;</label>
					<div class="col-md-4">
						<input type="text" name="tag" id="tag" class="form-control"
							maxlength="3" minlength="3" value="{{ data.tag }}" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="name" class="col-md-3 control-label">Nom de l'entreprise :&nbsp;</label>
					<div class="col-md-4">
						<input type="text" name="name" id="name" class="form-control"
							maxlength="50" value="{{ data.name }}" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="gain_path" class="col-md-3 control-label">Pourcentage de gain par trajets :&nbsp;</label>
					<div class="col-md-4">
						<input type="number" name="gain_path" id="gain_path" class="form-control"
							min="25" max="50" value="{{ data.gain_path }}" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="spend_impact" class="col-md-3 control-label">Pourcentage de répercusssion des erreurs :&nbsp;</label>
					<div class="col-md-4">
						<input type="number" name="spend_impact" id="spend_impact" class="form-control"
							min="0" max="100" value="{{ data.spend_impact }}" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="base_salary" class="col-md-3 control-label">Salaire de base :&nbsp;</label>
					<div class="col-md-4">
						<input type="number" name="base_salary" id="base_salary" class="form-control"
							value="{{ data.base_salary }}" required />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-3 col-md-4">
						<button type="submit" class="btn btn-default">Créer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
