{% extends '@Core/base.twig' %}

{% block title %}Liste des entreprises{% endblock %}

{% block body %}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Liste des entreprises</h2>
		</div>
		
		<div class="panel-body">
			{% if enterprise is not empty %}
			<p>Vous travaillez ou avez candidater dans l'entreprise <b>{{ enterprise.name }}</b>, vous pouvez choisir de la quitter
			et de candidater auprès d'une autre dans la liste ci-dessous, ou en créer une.</p>
			
			{% if ent_access == 0 %}
			<p>Tan que votre candidature n'est pas acceptée, vous ne pouvez pas remplir de rapport.
				Vous ne pouvez candidater pour une autre entreprise ou en créer une pour l'instant.</p>
			{% else %}
			<p>Vous pouvez faire un rapport de trajet via le bouton suivant :
				<a href="{{ path('enterprises', 'addpath', enterprise.id_enterprise) }}" class="btn btn-primary">Rapport</a>
				<a href="{{ path('enterprises', 'listpath') }}" class="btn btn-primary">Voir vos rapports</a>
				<a href="{{ path('enterprises', 'employees', enterprise.id_enterprise) }}"
					class="btn btn-primary">Liste des employés</a></p>
			{% endif %}
				
			{% if ent_access == 2 %}
			<p>En tan que patron de l'entreprise, vous pouvez modifier ses propriétés ou la supprimer.
				Vous pouvez aussi choisir d'accéder à la liste des candidatures et les accepter
				ou les refuser.<br />
				<a href="{{ path('enterprises', 'edit', enterprise.id_enterprise) }}"
					class="btn btn-primary">Modifier</a>
				<a href="{{ path('enterprises', 'del', enterprise.id_enterprise) }}"
					class="btn btn-primary">Supprimer</a>
				<a href="{{ path('enterprises', 'candidacy', enterprise.id_enterprise) }}"
					class="btn btn-primary">Candidatures</a>
				</p>
			{% endif %}
			{% else %}
			<p>Vous ne travaillez pas dans une entreprise, vous pouvez en créer une ou
				en rejoindre une ci-dessous.</p>
			{% endif %}
			
			{% if ent_access < 0 or ent_access is empty %}
			<a href="{{ path('enterprises', 'add') }}" class="btn btn-primary">Créer une entreprise</a>
			{% endif %}
			
			{% if ent_access >= 1 and ent_access < 2 %}
			<a href="{{ path('enterprises', 'quit', id_ent) }}" class="btn btn-primary">Quitter l'entreprise</a>
			{% endif %}
			
			{% if enterprises is not empty %}
			<table class="table table table-bordered table-condensed table-hover col-md-4">
				<thead>
					<tr>
					<th>ID</th>
					<th>tag</th>
					<th>Nom</th>
					<th>Gain par trajet</th>
					<th>Répercussions des fautes</th>
					<th>Salaire de base</th>
					<th>Actions</th>
					</tr>
				</thead>
				
				<tbody>
					{% for enterprise in enterprises %}
					<tr>
						<td class="text-center">{{ enterprise.id_enterprise }}</td>
						<td class="ident text-fl-capitalize">{{ enterprise.tag }}</td>
						<td class="ident text-fl-capitalize">{{ enterprise.name }}</td>
						<td class="text-center">{{ enterprise.gain_path }}</td>
						<td class="text-center">{{ enterprise.spend_impact }}</td>
						<td class="text-center">{{ enterprise.base_salary }}</td>
						<td class="text-center">
							{% if ent_access is empty %}
							<a href="{{ path('enterprises', 'join', enterprise.id_enterprise) }}"
								title="Rejoindre"><span class="glyphicon glyphicon-user">
							</span></a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="text-center">Aucunes entreprises trouvées</p>
			{% endif %}
		</div>
	</div>
</article>

{% endblock %}
