{% extends '@Core/base.twig' %}

{% block title %}Rejoindre une entreprise{% endblock %}

{% block body %}
<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Rejoindre une entreprise</h2>
		</div>
		
		<div class="panel-body">
			<p>Vous devez remplir une candidature pour pouvoir rejoindre l'entreprise <b>{{ ent_name }}</b>.
				A l'issu, le patron acceptera ou non votre candidature.</p>
			
			<form action="{{ path('enterprises', 'join', data.id_enterprise) }}" method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="candidacy" class="col-md-3 control-label">Votre candidature :&nbsp;</label>
					<div class="col-md-4">
						<textarea rows="15" cols="30" class="form-control" name="candidacy" id="candidacy" required>{{ data.candidacy }}</textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-3 col-md-4">
						<input type="hidden" name="id" class="form-control"
							value="{{ data.id_enterprise }}" />
						<button type="submit" class="btn btn-default">Candidater</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
