{% extends '@Core/base.twig' %}

{% block title %}Erreur{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ path('modules', 'news', css_path) }}/global.css">
{% endblock %}

{% block body %}
<article class="row">
	<div class=" col-md-12 panel panel-default">
		<div class="panel-body">
			{% if (error_code == 'module') %}
			<p>Le module <b>{{ text }}</b> n'est pas activé, vous ne pouvez donc pas y accéder</p>
			{% endif %}
		</div>
	</div>
</article>
{% endblock %}
