{% block footer %}
<footer class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="text-left panel-body">
				{% if session.access == access.ADMINISTRATOR %}
				<p class="col-md-offset-6 label label-default"><a href="{{ path('admin') }}">Administration</a></p>
				{% endif %}
				<p>Euro Truck Simulator 2 est une marque de SCS Software s.r.o&nbsp;
				Copyright &copy; 2011-2015 SCS Software s.r.o</p>
				
				<p>ETS2Routes est la propriété de Christophe Daloz - De Los Rios&nbsp;
			Copyright &copy; 2016 Christophe Daloz - De Los Rios</p>
			
			<p>Site sous licence <a href="http://cecill.info/licences/Licence_CeCILL_V2-en.html">
				CeCILL V2</a></p>
			</div>
		</div>
	</div>
</footer>
{% endblock %}
