{% block header %}
<header class="row">
	<div class="col-md-6"><img src="{{ path(img_path) }}/logo.png" alt="logo"></div>
	<div class="col-md-6">
		<nav class=" navbar navbar-default">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="{{ path() }}">Accueil</a></li>
					<li><a href="{{ path('module', 'faq') }}">FAQ</a></li>
					<li><a href="{{ path('contact') }}">Contact</a></li>
					<!-- <li><a href="{{ path('forum') }}">Forum</a></li> -->
					
					{% if (session.id <= 0) %}
					<li><a href="{{ path('user', 'register') }}">Inscription</a></li>
					<li><a href="{{ path('user', 'connection') }}">Connexion</a></li>
					{% else %}
					<li><a href="{{ path('enterprises') }}">Entreprises</a></li>
					<li><a href="{{ path('user', 'profile') }}">Mon profil</a></li>
					<li><a href="{{ path('user', 'disconnect') }}">Déconnexion [{{ session.login }}]</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>
</header>
{% endblock %}
