{% extends '@Core/base.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class=" col-md-12 panel panel-default">
		<div class="panel-body">
			<p>Bienvenue visiteur,</p>
			<p><b>ETS2Routes</b> est un site consacré au jeu <b>Euro Truck Simulator 2</b>.
				Pour plus d'informations, toute l'équipe te propose d'aller lire la FAQ,
				où tu trouveras réponses aux questions que tu te pose.</p>
		</div>
	</div>
</article>
{% endblock %}
