<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
			crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ path(css_path) }}/global.css">
		{% for item in csslist %}
		<link rel="stylesheet" type="text/css" href="{{ item }}">
		{% endfor %}
		<title>Procdure d'installation - ETS2Routes</title>
	</head>
	
	<body>
		<div class="container">
			<article class="row">
				{% if message is not empty %}
				<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg }}</div>
				{% endif %}
				
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">Installation du site</h2>
					</div>
					
					<div class="panel-body">
						<form action="{{ path('install') }}" method="post" class="form-horizontal">
							<div class="form-group">
								<label for="database" class="col-md-3 control-label">Type de base de donnée :</label>
								<div class="col-md-offset-2 col-md-4">
									<select name="database" id="database" class="form-control" required>
										<option value="mysql">MySQL</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="dbname" class="col-md-3 control-label">Nom de la base de donnée :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="text" name="dbname" id="dbname" maxlength="255"
										class="form-control" value="{{ database.dbname }}" required />
								</div>
							</div>
							
							<div class="form-group">
								<label for="host" class="col-md-3 control-label">Hôte de la base de donnée :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="text" name="host" id="host" maxlength="255"
										class="form-control" value="{{ database.host }}" required/>
								</div>
							</div>
							
							<div class="form-group">
								<label for="user" class="col-md-3 control-label">Utilisateur SQL :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="text" name="user-sql" id="user" maxlength="255"
										class="form-control" value="{{ database.user }}" required/>
								</div>
							</div>
							
							<div class="form-group">
								<label for="password" class="col-md-3 control-label">Mot de passe SQL :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="password" name="password-sql" id="password" maxlength="255"
										class="form-control" value="{{ database.password }}" required/>
								</div>
							</div>
							
							<div class="form-group">
								<label for="username" class="col-md-3 control-label">Nom d'utilisateur :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="text" name="username" id="username" maxlength="255"
										class="form-control" value="{{ user.name }}" required/>
								</div>
							</div>
							
							<div class="form-group">
								<label for="password" class="col-md-3 control-label">Mot de passe :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="password" name="password" id="password" maxlength="255"
										class="form-control" value="{{ user.password }}" required/>
								</div>
							</div>
							
							<div class="form-group">
								<label for="mail" class="col-md-3 control-label">E-mail :</label>
								<div class="col-md-offset-2 col-md-4">
									<input type="text" name="mail" id="mail" maxlength="255"
										class="form-control" value="{{ user.mail }}" required/>
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-offset-5 col-md-4">
									<button type="submit" name="submit" class="btn btn-default">Installer</button>
								</div>
							</div>
						</form>
					</div>
			</article>
			
			{% include '@Core/footer.twig' %}
		</div>
		
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
			crossorigin="anonymous"></script>
	</body>
</html>
