{% extends '@Core/base.twig' %}

{% block title %}Liste des trajets{% endblock %}

{% block body %}

<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			{% if yourPath %}
			<h2 class="panel-title">Liste de vos trajets dans l'entreprise <b>{{ enterprise.name }}</b></h2>
			{% else %}
			<h2 class="panel-title">Liste des trajets de <b>{{ username }}</b> dans l'entreprise <b>{{ enterprise.name }}</b></h2>
			{% endif %}
		</div>
		
		<div class="panel-body">
			{% if yourPath %}
			<a href="{{ path('enterprises', 'addpath', enterprise.id_enterprise) }}"
				class="btn btn-primary">Créer un rapport</a>
			{%endif%}
			{% if paths is not empty %}
			<table class="table atable-bordered table-condensed table-hover col-md-4">
				<thead>
					<tr>
					<th>Date</th>
					<th>Ville de départ</th>
					<th>Ville d'arrivée</th>
					<th>Marque camion</th>
					<th>Modèle camion</th>
					<th>Marchandise (poids en t)</th>
					<th>Distance (Km)</th>
					<th>Gains (€)</th>
					<th>XP</th>
					<th>Consommation (Litres)</th>
					<th>Commentaires</th>
					</tr>
				</thead>
				
				<tbody>
					{% for path in paths %}
					<tr>
						<td class="text-center">{{ path.date|date("d/m/Y H:i") }}</td>
						<td class="text-center text-fl-capitalize">{{ path.city_start }}</td>
						<td class="text-center text-fl-capitalize">{{ path.city_end }}</td>
						<td class="text-center">{{ path.mark }}</td>
						<td class="text-center">{{ path.model }}</td>
						<td class="text-center">{{ path.cargo }}</td>
						<td class="text-center">{{ path.dist }}</td>
						<td class="text-center">{{ path.profit }}</td>
						<td class="text-center">{{ path.xp }}</td>
						<td class="text-center">{{ path.fuel|number_format(2, ',', ' ') }}</td>
						<td>{{ path.comments|nl2br }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p class="text-center">Aucuns trajet trouvées</p>
			{% endif %}
		</div>
	</div>
</article>

{% endblock %}
