{% extends '@Core/base.twig' %}

{% block title %}Rapport de trajet{% endblock %}

{% block body %}
<article class="row">
	{% if message is not empty %}
	<div class="alert alert-{{ message.type }}" role="alert">{{ message.msg|raw }}</div>
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Créer un rapport de trajet</h2>
		</div>
		
		<div class="panel-body">
			<form action="{{ path('enterprises', 'addpath', id) }}" method="POST" class="form-horizontal">
				<div class="form-group">
					<label for="city-start" class="col-md-3 control-label">Ville de départ :&nbsp;</label>
					<div class="col-md-4">
						<select name="city-start" id="city-start" class="form-control">
							{% for city in cities %}
							<option value="{{ city.id_city }}">{{ city.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="city-end" class="col-md-3 control-label">Ville d'arrivée :&nbsp;</label>
					<div class="col-md-4">
						<select name="city-end" id="city-end" class="form-control">
							{% for city in cities %}
							<option value="{{ city.id_city }}">{{ city.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="truck-mark" class="col-md-3 control-label">Marque :&nbsp;</label>
					<div class="col-md-4">
						<select name="truck-mark" id="truck-mark" class="form-control">
							{% for mark in marks %}
							<option value="{{ mark.id_mark }}">{{ mark.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="truck-model" class="col-md-3 control-label">Camion :&nbsp;</label>
					<div class="col-md-4">
						<select name="truck-model" id="truck-model" class="form-control">
							{% for truck in trucks %}
							<option value="{{ truck.id_truck }}">{{ truck.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="cargo" class="col-md-3 control-label">Remorque :&nbsp;</label>
					<div class="col-md-4">
						<select name="cargo" id="cargo" class="form-control">
							{% for trailer in trailers %}
							<option value="{{ trailer.id }}">{{ trailer.name }}{# ({{ trailer.weight }} t) #}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="profit" class="col-md-3 control-label">Profits :&nbsp;</label>
					<div class="input-group col-md-4">
						<input type="number" class="form-control" id="profit" name="profit" maxlength="10" required />
						<div class="input-group-addon">€</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="traveled_dist" class="col-md-3 control-label">Distance :&nbsp;</label>
					<div class="input-group col-md-4">
						<input type="number" class="form-control" id="traveled_dist" name="traveled_dist" maxlength="10" required />
						<div class="input-group-addon">Km</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="xp" class="col-md-3 control-label">XP :&nbsp;</label>
					<div class="input-group col-md-4">
						<input type="number" class="form-control" id="xp" name="xp" maxlength="10" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="fuel" class="col-md-3 control-label">Carburant :&nbsp;</label>
					<div class="input-group col-md-4">
						<input type="number" class="form-control" id="fuel" name="fuel" step="0.01" maxlength="5" required/>
						<div class="input-group-addon">Litres</div>
					</div>
				</div>
				
				<div class="form-group">
					<label for="comments" class="col-md-3 control-label">Commentaires :&nbsp;</label>
					<div class="col-md-4">
						<textarea name="comments" id="comments" cols="50" rows="20" class="form-control"></textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-3 col-md-1">
						<button type="submit" class="form-control">Enregistrer</button>
						<input type="hidden" name="id_ent" value="{{ id }}" />
					</div>
				</div>
			</form>
		</div>
</article>
{% endblock %}
