{% extends '@Admin/index.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
<div class="panel panel-default col-md-12">
	<div class="panel-heading">
		<div class="panel-title">Liste des catégories</div>
	</div>
	<div class="panel-body">
		<p>
			<a href="{{ path('admin', 'news', 'addcat') }}" class="btn btn-primary">Ajouter une catégorie</a>
		</p>
		
		{% if list is not empty %}
		<table class="table table-bordered table-condensed table-responsive table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nom</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody>
				{% for cat in list %}
				<tr>
					<td class="text-center">{{ cat.id_cat }}</td>
					<td class="ident cat_name">{{ cat.name }}</td>
					<td class="text-center action">
						<a href="{{ path('admin', 'news', 'editcat', cat.id_cat) }}" class="glyphicon glyphicon-pencil" title="Editer"></a>&nbsp;
						<a href="{{ path('admin', 'news', 'delcat', cat.id_cat) }}" class="glyphicon glyphicon-remove" title="Supprimer"></a>&nbsp;
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p class="text-center">Aucune catégories trouvée</p>
		{% endif %}
	</div>
</div>

</article>
{% endblock %}
