{% extends '@Admin/index.twig' %}

{% block title %}Ajout d'une news{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Ajouter une news</div>
		</div>
		
		<div class="panel-body">
			<form class="form-horizontal" action="{{ path('admin', 'news', 'add') }}" method="POST">
				<div class="form-group">
					<label for="title" class="col-md-2 control-label">Titre :&nbsp;</label>
					<div class="col-md-6">
						<input type="text" name="title" value="{{ post.title }}" maxlength="100"
							id="title" class="form-control" required />
					</div>
				</div>
				
				<div class="form-group">
					<label for="category" class="col-md-2 control-label">Catégorie :&nbsp;</label>
					<div class="col-md-6">
						<select name="category" class="form-control" id="category" required>
							{% for category in categories %}
							<option value="{{ category.id_cat }}"
								{% if category.id_cat == post.category %}selected{% endif %}>{{ category.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="message" class="col-md-2 control-label">News :&nbsp;</label>
					<div class="col-md-6">
						<textarea id="message" name="message" class="form-control" rows="25" required>{{ post.message }}</textarea>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-2 col-md-2">
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
