{% extends '@Admin/index.twig' %}

{% block title %}Ajout d'une catégorie{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="panel-title">Ajouter une catégorie</div>
		</div>
		
		<div class="panel-body">
			<form class="form-horizontal" action="{{ path('admin', 'news', 'addcat') }}" method="POST">
				<div class="form-group">
					<label for="name" class="col-md-2 control-label">Nom :&nbsp;</label>
					<div class="col-md-6">
						<input type="text" name="name" value="{{ post.name }}" maxlength="100"
							id="name" class="form-control" required />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-md-offset-2 col-md-2">
						<button type="submit" class="btn btn-primary">Enregistrer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</article>
{% endblock %}
