{% extends '@Admin/index.twig' %}

{% block title %}Liste des news{% endblock %}

{% block body %}
{{ parent() }}

<article class="row">
<div class="panel panel-default col-md-12">
	<div class="panel-heading">
		<div class="panel-title">Liste des news</div>
	</div>
	<div class="panel-body">
		<p>
			<a href="{{ path('admin', 'news', 'add') }}" class="btn btn-primary">Ajouter une news</a>
		</p>
		
		{% if list is not empty %}
		<table class="table table-bordered table-condensed table-responsive table-striped">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Catégorie</th>
					<th>Auteur</th>
					<th>Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			
			<tbody>
				{% for news in list %}
				<tr>
					<td class="ident">{{ news.title }}</td>
					<td class="ident category">{{ news.cat_name }}</td>
					<td class="ident author">{{ news.user }}</td>
					<td class="text-center date">{{ news.date|date('d/m/Y H:i') }}</td>
					<td class="text-center action">
						<a href="{{ path('admin', 'news', 'edit', news.id_news) }}" class="glyphicon glyphicon-pencil" title="Editer"></a>&nbsp;
						<a href="{{ path('admin', 'news', 'del', news.id_news) }}" class="glyphicon glyphicon-remove" title="Supprimer"></a>&nbsp;
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p class="text-center">Aucune news trouvée</p>
		{% endif %}
	</div>
</div>

</article>
{% endblock %}
