{% if news is not empty %}
	{% for item in news %}
	 <article class="row">
	 	<div class="col-md-12 panel panel-primary">
	 		<div class="panel-heading">
		 		<div class="row">
			 		<div class="col-md-6">{{ item.title }}</div>
			 		<div class="col-md-4 cat">Catégorie : {{ item.cat_name }}</div>
			 		<div class="col-md-2 cat">Auteur : {{ item.user }}</div>
		 		</div>
		 	</div>
	 		<div class="panel-body">{{ item.message|nl2br }}</div>
	 	</div>
	 </article>
	{% endfor %}
{% endif %}
